@import url(https://db.onlinewebfonts.com/c/6f69888dec2bef4da45999a4b4a51e02?family=NeutraText-DemiAlt);
body {
  font-family: "NeutraText-DemiAlt";
}

.header-text {
  /* font-family: "NeutraText-DemiAlt"; */
  border-left: 1px solid rgba(221, 219, 212, 0.5);
  padding-left: 50px;
}

.content-text {
  font-size: 18px;
}

.horizontal-timeline .items {
  border-top: 3px solid #e9ecef;
}

.horizontal-timeline .items .items-list {
  display: block;
  position: relative;
  text-align: center;
  padding-top: 70px;
  margin-right: 0;
}

.horizontal-timeline .items .items-list:before {
  content: "";
  position: absolute;
  height: 36px;
  border-right: 2px dashed #dee2e6;
  top: 0;
}

.horizontal-timeline .items .items-list .event-date {
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  width: 75px;
  margin: 0 auto;
  font-size: 0.9rem;
  padding-top: 8px;
}

@media (min-width: 1140px) {
  .horizontal-timeline .items .items-list {
    display: inline-block;
    width: 24%;
    padding-top: 45px;
  }

  .horizontal-timeline .items .items-list .event-date {
    top: -40px;
  }
}

.img-cover {
  margin-left: -250px;
  margin-top: -80px;
  padding: 0;
  /* background-image: url("/static/img/types.webp"); */
  background-size: cover;
  background-position: center;
}

#h3-body {
  background-image: url("/static/img/h3-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.h3-header {
  font-size: 60px;
  /* font-family: "NeutraText-DemiAlt"; */
  font-weight: 800;
  color: lightseagreen;
  padding: 30px;
}
